.about-page {
  font: $body-font;
  width: 100vw;
  height: calc(92vh - 56px);
  position: relative;

  .board-wrapper {
    height: calc(92vh - 56px);
    display: flex;
    justify-content: center;
  }

  .frame-outer {
    border: 6px solid #a9a9b0;
    width: 92%;
    height: fit-content;
    box-shadow: 20px 20px 50px grey;
    border-radius: 2rem;
    background-color: #98989c;
  }

  .frame-inner {
    height: 100%;
    border: 20px solid #333;
    border-radius: 2rem;
    background-image: url(../images/cork.png);
  }

  .title-box {
    display: flex;
    justify-content: center;

    h3 {
      padding-bottom: 3%;
      border-bottom-width: 0.5px;
      border-bottom-style: solid;
      border-bottom-color: $brand-color;
    }

    .title-sticky {
      background-color: $body-bg-color;
      font-family: $body-font;
      font-weight: bold;
      min-width: 40%;
      height: fit-content;
      margin: 2%;
      padding: 2%;
    }
  }

  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .education {
    margin: 2%;

    ul {
      list-style-type: none;
      margin: 0;

      .sub-list {
        color: $brand-color;
        font-style: italic;
        font-size: smaller;
      }
    }
  }
}

.polaroid-container {
  position: relative;
  width: 65vmin;
  height: 80vmin;

  #card-1 {
    transition: transform 0.35s ease-out;
    transform: translate(5%, 15%) scale(0.35) rotate(-5deg);
    will-change: transform;

    &:hover {
      transform: scale(1) rotate(0deg);
      z-index: 1;

      &:before {
        opacity: 1;
      }
    }
  }

  #card-2 {
    transition: transform 0.35s ease-out;
    transform: translate(-10%, -20%) scale(0.35) rotate(-1deg);
    will-change: transform;

    &:hover {
      transform: scale(1) rotate(0deg);
      z-index: 1;

      &:before {
        opacity: 1;
      }
    }
  }

  #card-3 {
    transition: transform 0.35s ease-out;
    transform: translate(-20%, 5%) scale(0.35) rotate(-4deg);
    will-change: transform;

    &:hover {
      transform: scale(1) rotate(0deg);
      z-index: 1;

      &:before {
        opacity: 1;
      }
    }
  }

  #card-4 {
    transition: transform 0.35s ease-out;
    transform: translate(10%, -7%) scale(0.35) rotate(7deg);
    will-change: transform;

    &:hover {
      transform: scale(1) rotate(0deg);
      z-index: 1;

      &:before {
        opacity: 1;
      }
    }
  }

  .polaroid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darken(white, 2%);
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(#111, 0.35);
  }

  .photo-container {
    display: block;
    width: 90%;
    height: 80%;
    margin: 5%;
    box-shadow: inset 0 0 5px rgba(#222, 0.35);
    border-radius: 2px;
    filter: sepia(0.2) brightness(0.9) contrast(1.2);
    transition: opacity 0.35s ease-out;
    opacity: 0.5;
    will-change: opacity;
  }

  .photo {
    width: 100%;
    height: 100%;
  }

  .frame {
    display: block;
    font-weight: 500;
    color: #555;
    font-size: 3vmin;
    opacity: 0.75;
    text-align: center;
  }
}
