.about-page {
  font: $body-font;

  .board-wrapper {
    height: calc(92vh - 56px);
    display: flex;
    justify-content: center;
  }

  .frame-outer {
    @include outer-frame-sm;
  }

  .frame-inner {
    @include inner-frame-sm;
  }

  //Title Box: A Little About Me
  .title-box {
    @include titlebox;

    .title-sticky {
      max-width: 85%;
      margin-top: 1em;
    }

    .about-btn-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .about-btns {
      @include brand-button-sm;
    }
  }

  //Main Content

  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    //Note with cartoon
    .main-note-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .standing-cartoon {
      max-height: 200px;
    }

    .stickies {
      .about-sticky {
        width: 14em;
        height: 14em;
        padding: 1em;
        margin: 2em;

        h2 {
          font-size: 1.5em;
          font-weight: bolder;
          padding-bottom: 0.5em;
          margin-bottom: 0.5em;
          border-bottom: 0.5px solid $brand-color;
        }

        p {
          margin-bottom: 5px;
        }
      }
    }

    .polaroid-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .polaroid {
        width: 15em;
        height: 20em;
        margin: 2%;
        background-color: darken(white, 2%);
        border-radius: 2px;
        box-shadow: 2px 2px 5px rgba(#111, 0.35);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .photo-container {
          width: 80%;
          height: 66%;
          margin-top: 8%;
          border-radius: 2px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .caption {
          margin: 2%;
        }
      }
    }

    .secondary-notes {
      h5 {
        color: #4a777a;
      }
      p {
        font-size: 0.75em;
      }
    }
  }

  @media all and (min-width: 768px) {
    .frame-outer {
      @include outer-frame-md;
      height: fit-content;
    }

    .frame-inner {
      @include inner-frame-md;
    }

    .title-box .title-sticky {
      width: 60%;
    }

    .about-content {
      #about-me .standing-cartoon {
        max-height: 15em;
      }

      .stickies {
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
        }

        .about-sticky {
          width: 17em;
          height: 17em;

          p {
            margin: 10px;
            padding-top: 1%;
          }
        }
      }

      .polaroid-container .polaroid {
        width: 17em;
        height: 24em;
        margin: 4%;
      }
    }
  }
  @media all and (min-width: 1024px) {
    font-size: 120%;
    .frame-outer {
      @include outer-frame-lg;
    }

    .frame-inner {
      @include inner-frame-lg;
    }

    .title-box {
      @include titlebox;

      .title-sticky {
        max-width: 45%;
        margin-top: 1em;
      }

      .about-btns {
        @include brand-button;
      }
    }
    .about-content {
      padding: 4% !important;
      .note {
        width: 100%;
        margin: 2%;
      }

      .stickies {
        ul {
          padding-right: 12%;
        }

        .about-sticky {
          width: 18em;
          height: 18em;
          // font-size: 120%;

          p {
            margin: 10px;
            padding-top: 1%;
          }
        }
      }

      .polaroid-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        height: fit-content;

        #card-1 {
          @include polaroid-animation;
          transform: rotate(-5deg);
        }

        #card-2 {
          @include polaroid-animation;
          transform: rotate(3deg);
        }

        #card-3 {
          @include polaroid-animation;
          transform: rotate(-6deg);
        }

        #card-4 {
          @include polaroid-animation;
          transform: rotate(7deg);
        }

        // .polaroid {
        //   top: 0;
        //   left: 0;
        //   width: 15em;
        //   height: 20em;
        //   background-color: darken(white, 2%);
        //   border-radius: 2px;
        //   box-shadow: 2px 2px 5px rgba(#111, 0.35);
        // }

        // .photo-container {
        //   width: 90%;
        //   height: 80%;
        //   margin: 5%;
        //   box-shadow: inset 0 0 5px rgba(#222, 0.35);
        //   filter: sepia(0.2) brightness(0.9) contrast(1.2);
        //   opacity: 0.9;
        // }

        // #card-1 {
        //   @include polaroid-animation;
        //   transform: scale(0.5) rotate(-5deg);
        // }

        // #card-2 {
        //   @include polaroid-animation;
        //   transform: scale(0.5) rotate(3deg);
        // }

        // #card-3 {
        //   @include polaroid-animation;
        //   transform: scale(0.5) rotate(-6deg);
        // }

        // #card-4 {
        //   @include polaroid-animation;
        //   transform: scale(0.5) rotate(7deg);
        // }
      }

      .secondary-notes {
        max-width: 40%;
      }
    }
  }
}
