.contact-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-form {
  width: 90%;
  margin: 5%;
  padding: 2%;
  max-height: 90%;
  height: 100%;
}

@media (min-width: 768px) {
  #contact-board .board-wrapper .frame-outer {
    height: fit-content !important;
  }
  .contact-board .board-wrapper {
    height: fit-content;
  }
}
