#contact {
  #landing-message #welcome {
    .landing-cartoon {
      margin: 0;
    }

    h1 {
      margin: 0;
    }
  }
}
.contact-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-form {
  width: 90%;
  margin: 5%;
  padding: 2%;
}

.form-button {
  @include brand-button;
  margin: 0;
}

@media (min-width: 768px) {
  #contact-board .board-wrapper .frame-outer {
    height: fit-content !important;
  }
  .contact-board .board-wrapper {
    height: fit-content;
  }
}
