.landing {
  // height: calc(92vh - 56px);
  font-family: $body-font;
  // display: flex;
  // // background-image: linear-gradient(to right, white, #f5f5f5);

  // //Left Welcome
  #landing-message {
    //   width: 50vw;
    //   height: 100%;
    //   display: flex;
    //   justify-content: center;

    //   #welcome {
    //     position: absolute;
    //     top: 40%;

    height: 25vh;

    #welcome {
      height: 100%;
      margin-top: 1em;

      h1 {
        font-size: 25px;
      }

      p {
        font-size: 16px;
      }

      #landing-buttons {
        margin-top: 1%;

        .l-btn {
          font-size: 14px;
        }
      }
    }

    p {
      color: $brand-color;
    }

    #landing-buttons {
      justify-content: center;
    }

    .l-btn {
      @include brand-button;
    }

    .l-btn:hover {
      background-color: $hover-color;
    }
  }

  // //Right Welcome
  #landing-board {
    .board-wrapper {
      height: 60vh;
      width: 100vw;
      display: flex;
      justify-content: center;
    }

    .frame-outer {
      // margin-top: 2%;
      // height: 100%;
      // width: 92%;
      // border: 3px solid #a9a9b0;
      @include outer-frame-sm;
      height: 100%;
    }

    .frame-inner {
      // height: 100%;
      // width: 100%;
      // border: 10px solid #333;
      @include inner-frame-sm;
      padding: 2em;
    }

    #s3,
    #s4 {
      display: none;
    }

    ul li a {
      height: 7em;
      width: 7em;
    }

    ul li {
      h2 {
        font-size: 16px;
      }

      p {
        font-size: 12px;
      }
    }
  }

  //Specific styles for landing page stickies
  .landing-stickies {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;

    // li a {
    //   text-decoration: none;
    //   color: #000;
    //   display: block;
    //   height: 10em;
    //   width: 10em;
    //   padding: 1em;
    //   margin: 1em;
    // }

    li p {
      font-family: $handwriting;
      font-size: 180%;
      color: #333;
    }

    li:nth-child(even) a {
      background: #cfc;
    }
    li:nth-child(3n) a {
      background: #ccf;
    }
    li:nth-child(5n) a {
      background: #ffc;
    }
  }

  @media all and (min-width: 768px) {
    #landing-message {
      //position: relative;
      height: 25vh;
      //justify-content: center;

      #welcome {
        //align-content: center;
        height: 100%;
        margin-top: 2em;

        h1 {
          font-size: 40px;
        }

        p {
          font-size: 25px;
        }

        #landing-buttons {
          margin-top: 1%;

          .l-btn {
            font-size: 20px;
          }
        }
      }
    }

    #landing-board {
      .board-wrapper {
        height: 60vh;
        width: 100vw;
        display: flex;
        justify-content: center;
      }

      .frame-outer {
        // margin-top: 2%;
        height: 100%;
        width: 80%;
        border: 5px solid #a9a9b0;
      }

      .frame-inner {
        height: 100%;
        width: 100%;
        border: 14px solid #333;
      }

      #s3,
      #s4 {
        display: none;
      }

      ul li a {
        height: 12em;
        width: 12em;
      }

      ul li {
        h2 {
          font-size: 22px;
        }

        p {
          font-size: 18px;
        }
      }
    }
  }

  @media all and (min-width: 1025px) {
    height: calc(92vh - 56px);
    display: flex;

    // //Left Welcome
    #landing-message {
      width: 50vw;
      height: 100%;
      display: flex;
      justify-content: center;

      #welcome {
        position: absolute;
        top: 40%;

        h1 {
          font-size: 45px;
        }

        p {
          font-size: 25px;
        }
      }
    }

    #landing-board {
      width: 50vw;
      height: calc(92vh - 56px);
      position: relative;

      .board-wrapper {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      .frame-outer {
        @include outer-frame-lg;
        height: 100%;
      }

      .frame-inner {
        width: 100%;
        @include inner-frame-lg;
      }
    }
    // @media all and (max-width: 375px) {
    //   #landing-message {
    //     height: 30vh;

    //     #welcome {
    //       height: 100%;

    //       h1 {
    //         font-size: 28px;
    //       }

    //       p {
    //         font-size: 14px;
    //       }

    //       #landing-buttons {
    //         margin-top: 1%;

    //         .l-btn {
    //           font-size: 14px;
    //         }
    //       }
    //     }
    //   }

    //   #landing-board {
    //     .board-wrapper {
    //       height: 60vh;
    //       width: 100vw;
    //       display: flex;
    //       justify-content: center;
    //     }

    //     .frame-outer {
    //       margin-top: 2%;
    //       height: 100%;
    //       width: 92%;
    //       border: 3px solid #a9a9b0;
    //     }

    //     .frame-inner {
    //       height: 100%;
    //       width: 100%;
    //       border: 10px solid #333;
    //     }

    //     #s3,
    //     #s4 {
    //       display: none;
    //     }

    //     ul li a {
    //       height: 7em;
    //       width: 7em;
    //     }

    //     ul li {
    //       h2 {
    //         font-size: 16px;
    //       }

    //       p {
    //         font-size: 12px;
    //       }
    //     }
    //   }
    // }
  }
}
