.landing {
  // height: calc(92vh - 56px);
  font-family: $body-font;
  // display: flex;
  // // background-image: linear-gradient(to right, white, #f5f5f5);

  // //Left Welcome
  #landing-message {
    //   width: 50vw;
    //   height: 100%;
    //   display: flex;
    //   justify-content: center;

    //   #welcome {
    //     position: absolute;
    //     top: 40%;

    height: 35vh;

    #welcome {
      height: 100%;
      margin-top: 0;

      h1 {
        font-size: 25px;
      }

      p {
        font-size: 16px;
      }

      #landing-buttons {
        .l-btn {
          font-size: 14px;
        }
      }
    }

    p {
      color: $brand-color;
    }

    #landing-buttons {
      justify-content: center;
    }

    .l-btn {
      @include brand-button;
    }

    .l-btn:hover {
      background-color: $hover-color;
    }
  }

  // //Right Welcome
  #landing-board {
    .board-wrapper {
      height: 50vh;
      width: 100vw;
      display: flex;
      justify-content: center;
    }

    .frame-outer {
      // margin-top: 2%;
      // height: 100%;
      // width: 92%;
      // border: 3px solid #a9a9b0;
      @include outer-frame-sm;
      height: 100%;
    }

    .frame-inner {
      // height: 100%;
      // width: 100%;
      // border: 10px solid #333;
      @include inner-frame-sm;
      padding: 2em;
    }

    ul li a {
      height: 10em;
      width: 10em;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ul li {
      h2 {
        font-size: 16px;
      }

      p {
        font-size: 20px;
      }
    }
  }

  //Specific styles for landing page stickies
  .landing-stickies {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;

    // li a {
    //   text-decoration: none;
    //   color: #000;
    //   display: block;
    //   height: 10em;
    //   width: 10em;
    //   padding: 1em;
    //   margin: 1em;
    // }

    li p {
      font-family: $handwriting;
      font-size: 180%;
      color: #333;
    }

    // li:nth-child(even) a {
    //   //background: #cfc;
    //   -webkit-transform: rotate(4deg);
    //   -moz-transform: rotate(4deg);
    //   -o-transform: rotate(4deg);
    // }
    // li:nth-child(3n) a {
    //   //background: #ccf;
    //   -webkit-transform: rotate(-3deg);
    //   -moz-transform: rotate(-3deg);
    //   -o-transform: rotate(-3deg);
    // }
    // li:nth-child(5n) a {
    //   //background: #ffc;
    //   -webkit-transform: rotate(17deg);
    //   -moz-transform: rotate(17deg);
    //   -o-transform: rotate(17deg);
    // }
  }

  @media all and (min-width: 768px) {
    #landing-message {
      //position: relative;
      height: 40vh;
      //justify-content: center;

      #welcome {
        //align-content: center;
        height: 100%;
        margin-top: 0;

        h1 {
          font-size: 38px;
        }

        p {
          font-size: 23px;
        }

        #landing-buttons {
          margin-top: 0;

          .l-btn {
            font-size: 18px;
          }
        }
      }
    }

    #landing-board {
      width: 100vw;
      display: flex;
      justify-content: center;

      .board-wrapper {
        height: 50vh;
        width: 80vw;
      }

      .frame-outer {
        // margin-top: 2%;
        @include outer-frame-md;
      }

      .frame-inner {
        @include inner-frame-md;
      }

      ul li a {
        height: 12em;
        width: 12em;
      }

      ul li {
        h2 {
          font-size: 22px;
        }

        p {
          font-size: 35px;
        }
      }
    }
  }

  @media all and (min-width: 1025px) {
    height: calc(92vh - 56px);
    display: flex;

    // //Left Welcome
    #landing-message {
      width: 50vw;
      height: 100%;
      display: flex;
      justify-content: center;

      #welcome {
        position: absolute;
        top: 30%;

        h1 {
          font-size: 45px;
        }

        p {
          font-size: 25px;
        }
      }
    }

    #landing-board {
      width: 50vw;
      height: calc(92vh - 56px);
      position: relative;

      .board-wrapper {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      .frame-outer {
        @include outer-frame-lg;
        height: 100%;
      }

      .frame-inner {
        width: 100%;
        @include inner-frame-lg;
        position: relative;

        #s1 {
          position: absolute;
          top: 15%;
          left: 10%;
        }

        #s2 {
          position: absolute;
          top: 25%;
          left: 60%;
        }

        #s3 {
          position: absolute;
          top: 55%;
          left: 25%;
        }
      }
    }
  }
}
