.landing {
  height: 100%;
  font-family: $body-font;
  background-image: linear-gradient(to right, white, #f5f5f5);

  //Left Welcome
  p {
    color: $brand-color;
  }

  #landing-buttons {
    justify-content: center;
  }

  Button {
    @include brand-button;
  }

  #landing-left {
    position: relative;
    height: calc(92vh - 56px);
  }

  #welcome {
    position: absolute;
    top: 40%;
    width: 100%;
    align-content: center;
  }

  //Right Welcome
  #landing-right {
    background-image: url("../images/3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    min-height: 100%;
    min-width: 100%;
  }
}
