nav {
  background-color: white;
  padding: 0px;

  .navbar-toggler-icon {
    color: $brand-color;
  }

  .nav-link {
    font-family: $body-font;
    font-size: 14px;
    color: $brand-color;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-right: 10px;
  }

  a:hover,
  .icon:hover {
    color: $hover-color;
  }

  // .social-icons {
  //   align-content: flex-end;
  // }

  .icon {
    color: $brand-color;
    font-size: 20px;
    margin: 8px;
  }

  .navbar-toggler-icon {
    font-size: 30px;
  }

  .navbar-toggler {
    outline: none !important;
  }

  @media all and (min-width: 768px) {
    .navbar-toggler-icon,
    .nav-link {
      font-size: 115%;
    }
  }
}
