.portfolio-page {
  font: $body-font;
  width: 100vw;
  height: calc(92vh - 56px);
  position: relative;
  margin-top: 10%;

  .board-wrapper {
    height: 100%;
    width: 100%;
    //position: absolute;
    top: 0;
    left: 0;
  }

  .frame-outer {
    border: 6px solid #a9a9b0;
    width: 92%;
    height: fit-content;
    box-shadow: 20px 20px 50px grey;
    border-radius: 2rem;
    background-color: #98989c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .frame-inner {
    width: 100%;
    height: fit-content;
    border: 20px solid #333;
    border-radius: 2rem;
    background-image: url(../images/cork.png);
    z-index: -1;
    //display: flex;
  }

  .title-box {
    display: flex;
    justify-content: center;

    h3 {
      padding-bottom: 3%;
      border-bottom-width: 0.5px;
      border-bottom-style: solid;
      border-bottom-color: $brand-color;
    }

    .title-sticky {
      background-color: $body-bg-color;
      font-family: $body-font;
      font-weight: bold;
      width: max-content;
      height: fit-content;
      margin: 2%;
      padding: 2%;
    }

    .project-filters {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .filter {
      @include brand-button;
    }
  }

  //Sticky Notes

  * {
    margin: 0;
    padding: 0;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  h2,
  p {
    font-size: 100%;
    font-weight: normal;
  }

  ul,
  li {
    list-style: none;
  }

  ul {
    overflow: hidden;
    padding: 3em;
  }

  ul li a {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    width: 20em;
    height: 20em;
    padding: 1em;

    /*give the notes a shadow*/
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    -o-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);

    /*give the tilt effect to your sticky notes*/
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);

    /*apply some smooth transition to the sticky note*/
    -webkit-transition: -webkit-transform 0.15s linear;
    -moz-transition: -moz-transform 0.15s linear;
    -o-transition: -o-transform 0.15s linear;
  }

  ul li:nth-child(even) a {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    position: relative;
    top: 5px;
    background: mistyrose;
  }

  ul li:nth-child(3n) a {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background: skyblue;
  }

  ul li:nth-child(5n) a {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    position: relative;
    top: -10px;
    background: snow;
  }

  ul li a:hover,
  ul li a:focus {
    -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
    -o-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);

    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);

    position: relative;
    z-index: 5;
  }

  ul li {
    margin: 1em;
    float: left;
  }

  ul li h2 {
    font-size: 140%;
    font-weight: bold;
    padding-bottom: 10px;
    font-family: $body-font;
  }

  ul li p {
    font-family: "Reenie Beanie", arial, sans-serif;
    font-size: 180%;
  }
}
