.portfolio-page {
  font: $body-font;
  width: 100vw;
  height: calc(92vh - 56px);
  position: relative;
  //margin-top: 10%;

  .board-wrapper {
    // height: 100%;
    // width: 100%;
    // //position: absolute;
    // top: 0;
    // left: 0;
    display: flex;
    justify-content: center;
  }

  .frame-outer {
    border: 6px solid #a9a9b0;
    width: 92%;
    height: fit-content;
    box-shadow: 20px 20px 50px grey;
    border-radius: 2rem;
    background-color: #98989c;
    //position: absolute;
    // top: 50%;
    // left: 50%;
    //transform: translate(-50%, -50%);
  }

  .frame-inner {
    width: 100%;
    height: fit-content;
    border: 20px solid #333;
    border-radius: 2rem;
    background-image: url(../images/cork.png);
    z-index: -1;
    //display: flex;
  }

  // @media only screen and(min-width: 768px) {
  //   .frame-outer {
  //     height: 100%;
  //     width: 100%;
  //   }

  //   .frame-inner {
  //     height: 100%;
  //     width: 100%;
  //   }
  // }

  // @media only screen and(min-width: 300px) {
  //   .frame-outer {
  //     height: fit-content;
  //     width: 100%;
  //   }

  //   .frame-inner {
  //     height: fit-content;
  //     width: 100%;
  //   }
  // }

  .title-box {
    display: flex;
    justify-content: center;

    h3 {
      padding-bottom: 3%;
      border-bottom-width: 0.5px;
      border-bottom-style: solid;
      border-bottom-color: $brand-color;
    }

    .title-sticky {
      background-color: $body-bg-color;
      font-family: $body-font;
      font-weight: bold;
      max-width: 40%;
      height: fit-content;
      margin: 2%;
      padding: 2%;
    }

    .project-filters {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .filter-btn {
      @include brand-button;
      margin: 1%;
    }

    .filter-btn-active {
      @include brand-button;
      margin: 1%;
      background-color: #4a777a;
    }
  }
}
