.portfolio-page {
  //Styling for Corkboard Frame
  font-family: $body-font;
  width: 100vw;
  height: calc(92vh - 56px);

  .board-wrapper {
    height: calc(92vh - 56px);
    display: flex;
    justify-content: center;
  }

  .frame-outer {
    @include outer-frame-sm;
  }

  .frame-inner {
    @include inner-frame-sm;
  }

  //Styling for Content Box and Filtering Title
  .title-box {
    @include titlebox;

    .title-sticky {
      max-width: 85%;
      margin-top: 1em;
    }

    .project-filters {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .filter-btn {
      @include brand-button-sm;
      margin: 1%;
    }

    .filter-btn:hover {
      background-color: #4a777a;
    }

    .filter-btn:focus {
      outline: none;
    }

    .filter-btn-active {
      @include brand-button-sm;
      margin: 1%;
      background-color: #4a777a;
      outline: none;
    }
  }

  //For Tablet View

  @media all and(min-width: 768px) {
    .title-sticky {
      max-width: 50% !important;
    }
  }

  @media all and(min-width: 1025px) {
    .title-sticky .filter-btn {
      @include brand-button;
    }
    .title-sticky {
      max-width: 50% !important;
    }
  }
}
