//Sticky Notes

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-sticky {
  margin: 2em;
}

.project-name {
  font-size: 140%;
  font-weight: bold;
  padding-bottom: 5px;
  font-family: $body-font;
}

.project-desc {
  font-family: $body-font;
  font-size: 90%;
}

.tech-badges {
  font-size: 110%;
  color: white;
  background-color: $brand-color;
  border-radius: 2rem;
  padding: 1.5%;
  width: fit-content;
  margin: 2%;
}

ul li img {
  max-height: 150px;
  max-width: 250px;
  padding-bottom: 2%;
}

.techList {
  display: flex;
  justify-content: center;
}

//For Mobile View
@media screen and(max-width: 375px) {
  ul li a {
    width: 15em;
    height: 15em;
    padding: 1em;
  }

  ul li img {
    max-height: 100px;
    max-width: 150px;
  }
}
