//Sticky Notes

* {
  margin: 0;
  padding: 0;
}

h2,
p {
  font-size: 100%;
}

ul,
li {
  list-style: none;
  font-family: $body-font;
  font-size: 100%;
  //margin: 2em;
}

ul {
  overflow: hidden;
  padding: 1%;
  margin: 0;
}

ul li {
  text-decoration: none !important;
  color: inherit !important;
  background: #ffc;
  display: block;
  width: 20em;
  height: 20em;
  padding: 1em;

  /*give the notes a shadow*/
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -o-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);

  /*give the tilt effect to your sticky notes*/
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);

  /*apply some smooth transition to the sticky note*/
  -webkit-transition: -webkit-transform 0.15s linear;
  -moz-transition: -moz-transform 0.15s linear;
  -o-transition: -o-transform 0.15s linear;
}

ul li:nth-child(even) {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  position: relative;
  top: 5px;
  background: mistyrose;
}

ul li:nth-child(3n) {
  -webkit-transform: rotate(-9deg);
  -moz-transform: rotate(-9deg);
  -o-transform: rotate(-9deg);
  position: relative;
  top: -5px;
  background: skyblue;
}

ul li:nth-child(5n) {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  position: relative;
  top: -10px;
  background: snow;
}

ul li:hover,
ul li:focus {
  -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);

  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);

  position: relative;
  z-index: 5;
}

@media (max-width: 375px) {
  ul li {
    width: 17em;
    height: 17em;
    padding: 1em;
  }
}
